[submodule "bosh/bosh-deployment"]
	path = bosh/bosh-deployment
	url = https://github.com/cloudfoundry/bosh-deployment.git
[submodule "cf/cf-deployment"]
	path = cf/cf-deployment
	url = https://github.com/cloudfoundry/cf-deployment.git
[submodule "applications/samples"]
	path = applications/samples
	url = git@github.com:paketo-buildpacks/samples.git
